* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #16325B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-game {
    background-color: white;
    width: 400px;
    border-radius: 15px;
    height: fit-content;
}

.quiz-game > h2 {
    padding: 20px;
    color: #16325B;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #16325B;
}

.question {
    padding: 10px;
    width: 100%;
    height: 80px;
}

.btn {
    width: 90%;
    padding: 10px;
    margin: 10px 20px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid grey;
}

#next-btn {
    background-color: #16325B;
    color: white;
    display: block;
    border: none;
    padding: .5rem 3rem;
    margin: 0 auto;
    margin-bottom: 10px;
}

.resultSection {
    width: 400px;
    background-color: white;
    color: #16325B;
    display: none;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#restart {
    background-color: #16325B;
    color: white;
    padding: .5rem 3rem;
    border: none;
    margin: 0 auto;
    font-size: large;
    margin-top: 30px;
}